<DOCTYPE html>
<html>
  <head>
    <title>Word Count Page</title>
    <style>
      h1 {
        font-size: 30;
        font-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Word Count Webpage!</h1>
    <form action ="/title">
      <div class="form-group">
        <label for="search_string"> Enter the string you want to search: </label>
        <input id="search_string" name="search_string" class="form-control" type="text"></br>
        <label for="search_word"> Enter the word you want to find in the string </label>
        <input id="search_word" name="search_word" class="form-control" type="text"></br>
      </div>
      <button type="submit" class="button_success">PROCESSING</button>
    </form>
  </body>
</html>
